#root {
    height: 100%;
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', 'Times', sans-serif;
    font-size: 1.6rem;
    background-color: #f6f6f6;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

.hidden {
    display: none;
}

.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.conteiner {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

.main__conteiner {
    display: flex;
    padding: 1em;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* ===================== */

.add-product-button {
    display: flex;
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;

    right: 3rem;
    bottom: 3rem;

    font-size: 2.5rem;
    border: none;
    border-radius: 100%;
    color: white;
    background-color: #fc8507;

    align-items: center;
    justify-content: center;
}

.products__items {
    flex: 1 1 69%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
