.products__item {
    display: flex;
    position: relative;
    padding: .8rem;

    flex: 1 1 32%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.products__item img {
    padding: .5rem;
    max-width: 100%;
}

.products__item_active::after {
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    content: "In cart";
    font-size: 2rem;
    color: #fc8507;
}

.product__buttons {
    display: flex;

    gap: 1.5rem;
}

@media (max-width: 900px) {
    .products__item {
        flex: 1 1 49%;
    }
}

@media (max-width: 600px) {
    .products__item {
        flex: 1 1 100%;
    }
}
