.header {
    background-color: #fc8507;
}

.header__conteiner {
    display: flex;
    height: 4em;
    padding: 1em;

    /* justify-content: space-between; */
    align-items: center;
    gap: 1em;
}

.header__conteiner h1 {
    margin-right: auto;
}
