.footer {
    background-color: #333;
}

.footer__conteiner {
    display: flex;
    padding: 1em;

    justify-content: space-between;
    align-items: center;
}

.footer__data {
    display: flex;

    gap: .2em;

    color: #fff;
    font-size: 2rem;
}

.footer__data a {
    color: #fc8507;
}

.footer__rss img {
    width: 12rem;
}